<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ing. Ricardo Manuel Engelhard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.jpeg" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="index.htm">
                        <img src="/static/images/esen.png" width="100" height="100" />
                    </a>

                </div>
                <div class="burger-menu-icon">
                    <div class="1"></div>
                    <div class="2"></div>
                    <div class="3"></div>
                    <div class="4"></div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a>
                            <span class="caption nav-link"> Ricardo Manuel Engelhard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#personal" class="nav-link">Información Personal</a>
                    </li>
                    <li class="nav-item">
                        <a href="#formacion" class="nav-link">Formación Académica</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Idiomas" class="nav-link">Idiomas</a>
                    </li>
                    <li class="nav-item">
                        <a href="#deportes" class="nav-link">Deportes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacto" class="nav-link">Información de Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="inicio" class="inicio">
            <hr>
            <div>
                <div>
                    <h1>Ricardo Manuel Engelhard</h1>
                    <h4>Curriculum Vitae</h4>
                    <a href="index.htm">
                        <img src="/static/images/perfil.jpeg" width="200" height="300" />
                    </a>
                    <p>Ingeniero de Negocios 2023</p>
                </div>
            </div>
        </section>

        <section id="personal" class="personal">
            <div>
                <hr>
                <div>
                    <h1>Información Personal</h1>
                    <p>Ingeniero Ricardo Manuel Engelhard</p>
                    <p>Natalicio: 2 de Octubre del 2000</p>
                    <p>Salvadoreño</p>

                </div>

            </div>
            <section id="formacion" class="formacion">
                <div>
                    <hr>
                    <div>
                        <h2>Formación Académica</h2>
                        <h1>Escuela Primaria</h1>
                        <p>Escuela Americana, San Salvador (2004-2010)</p>
                        <p>Escuela Cristiana Oasis, San Salvador (2011-2015)</p>

                        <h1>Bachillerato</h1>
                        <p>Escuela Cristiana Oasis, San Salvador (2016-2018)</p>

                        <h1>Estudio Superior</h1>
                        <p>Escuela Superior de Economía y Negocios (2019-2023)</p>
                    </div>
                    <hr />
                </div>
            </section>

            <section id="Idiomas" class="Idiomas">
                <div>
                    <div>
                        <h2>Idiomas</h2>
                    </div>
                    <div class="service-tiers">
                        <div class="tier-item">

                            <h1>-Español</h1>
                            <p>Lengua Materna</p>

                            <h1>-Inglés</h1>
                            <p>Toefl iBT Realizado (Nota 93)</p>

                            <h1>-Alemán</h1>
                            <p>Nivel B2, Göethe Institut</p>

                            <h1>-Mandarín (Próximamente)</h1>
                        </div>
                    </div>
                </div>
                <hr>
            </section>

            <section id="deportes" class="deportes">
                <div class="container">
                    <div class="title-heading">
                        <h2>Deportes</h2>
                    </div>

                    <div class="service-tiers">
                        <div class="tier-item">

                            <h1>-Gimnasia</h1>
                            <p>Nivel 4 Alcanzado(2004-2012)</p>

                            <h1>-Natación</h1>
                            <p>2012-2013</p>

                            <h1>-Fútbol</h1>
                            <p>Juventus Soccer School(2013-2015)</p>

                            <h1>-Judo</h1>
                            <p>Acualmente, Cinturón Negro(Primer Dan)</p>
                        </div>
                    </div>
                </div>
                <hr />
            </section>

            <div class="container">
                <section id="contacto" class="contacto">
                    <div class="title-heading">
                        <h2>Información de Contacto</h2>
                    </div>
                    <div class="contact">
                        <h1>-Número de Celular</h1>
                        <p>+503 7145-3843</p>

                        <h1>-Whatsapp</h1>
                        <p>+503 7145-3843</p>

                        <h1>-Correo Electrónico</h1>

                        <p>
                            <a href="mailto:ricky.engelhard@gmail.com"><i
                                    class="fas fa-envelope-open"></i>ricky.engelhard@gmail.com</a>
                        </p>
                        <p>
                            <a href="mailto:20192354@esen.edu.sv"><i
                                    class="fas fa-envelope-open"></i>20192354@esen.edu.sv</a>
                        </p>
                        <h1>-Facebook</h1>
                        <a href="https://www.facebook.com/ricardomanuel.engelhard">Ricardo Manuel Engelhard</a>

                        <h1>-Instagram</h1>
                        <a href="https://www.instagram.com/ricky_engelhard/">@ricky_engelhard</a>

                        <h1>-Twitter</h1>
                        <a href="https://twitter.com/ricky_engelhard">@ricky_engelhard</a>

                        <h1>GitHub:</h1>
                        <a href="https://github.com/ENGELHARD14">@ENGELHARD14</a>
                    </div>
            </div>

            <hr />
        </section>
        <footer>
            <div>
                <img src="/static/images/logo.jpeg" width="100" height="100" />
                <p>Ricardo Manuel Engelhard 2021, Todos los Derechos Reservados</p>
            </div>
            <div class="footer-nav">
                <a href="#inicio" class="footer-nav-link">Inicio</a>
                <a href="#personal" class="footer-nav-link">Información Personal</a>
                <a href="#formacion" class="footer-nav-link">Formación Académica</a>
                <a href="#Idiomas" class="footer-nav-link">Idiomas</a>
                <a href="#deportes" class="footer-nav-link">Deportes</a>
                <a href="#contacto" class="footer-nav-link">Información de Contacto</a>
            </div>
        </footer>
    </main>
    <script src="/static/main.js"></script>
</body>

</html>